div#title-block{
    position: absolute;
    width: 1295px;
    height: 134px;
    left: 211px;
    top: 83px;
    background-color: darkslategray;
    text-align: center;
}

div#feature-block{
    position: absolute;
    width: 460px;
    height: 268px;
    left: 211px;
    top: 278px;
}

div#submit-block {
    position: absolute;
    width: 780px;
    height: 268px;
    left: 726px;
    top: 278px;
}

div#post-block{
    position: absolute;
    width: 1295px;
    height: 390px;
    left: 211px;
    top: 620px;
}

div.div-container{
    background-color: cadetblue;
    text-align: center;
    /* line-height: 1.5; */
}

button#chuck-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#submit-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form#add-joke{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}