* {
    margin: 0px;
    padding: 0px;
}

body{
    /* Frame 1 */
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    position: absolute;
    width: 1836px;
    height: 1210px;
    left: -53px;
    top: -59px;
    
    /* fire-photo 1 */
    position: absolute;
    width: 100vh;
    height: 100vh;
    /* left: 10px;
    top: 10px; */
    
    background-image: url(images/chuck-imgs/fire-photo.png);
    background-size: cover;
    background-repeat: repeat;

    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    


    resize: both;
    overflow: auto;
    align-self: center;
    position: relative;

}

div#title-block{
    position: absolute;
    width: 1295px;
    height: 134px;
    left: 211px;
    top: 83px;
    background-color: darkslategray;
    text-align: center;
}

div#feature-block{
    position: absolute;
    width: 360px;
    height: 268px;
    left: 247px;
    top: 278px;
    /* opacity: 0 */
}

div#submit-block {
    position: absolute;
    width: 780px;
    height: 268px;
    left: 726px;
    top: 278px;
}

div#post-block{
    position: absolute;
    width: 1295px;
    height: 390px;
    left: 211px;
    top: 620px;
}

div.div-container{
    background-color: cadetblue;
    text-align: center;
    /* line-height: 1.5; */
}

button#chuck-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black

    border-radius: 8px;
    border-width: 1em;
}

button#submit-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    
}

form#add-joke{
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.likebtn{
    font-size: medium;
    
}
img#btnimg{
    width: 400px;
    height: 250px;

}

img#background-img{
    object-fit: fill;
    width: auto;
    height: auto;
}

